*.class

# Package Files #
#*.jar
appengine-*.jar
asm-*.jar
datanucleus-*.jar
geronimo-*.jar
gwt-servlet.jar
jdo-api-*.jar
jsr107cache-*.jar
jta-1.1.jar

*.war

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/web.xml
war/WEB-INF/deploy/
war/WEB-INF/classes/
war/narl.hpclp.main/
deploy-*

#compilation logs
.gwt/

#caching for already compiled files
gwt-unitCache/

#gwt junit compilation files
www-test/

#old GWT (1.5) created this dir
.gwt-tmp/

#GWT SDK cann't override this file
war/WEB-INF/web.xml

#Eclipse setting
.externalToolBuilders/
.gwt/
.settings/
.classpath
.project







